@media (min-width: 1305px) and (max-width: 1460px) {
  section.slider .slide-text-container {
    top: 80px;
  }
  .bx-viewport {
    height: 430px !important;
  }
  .bx-wrapper img {
    max-width: none !important;
  }
  section.slider .slider-controls {
    top: 145px;
  }
  section.intro .calc-container .title-up span:nth-child(1) {
    font-size: 50px;
  }
  section.intro .calc-container .title-up span:nth-child(2) {
    font-size: 28px;
  }
  section.intro .calc-container .title-up {
    margin: -68px 0px 30px -38px;
    line-height: 28px;
  }
  section.domaines-energetiques .nav li a {
    padding: 15px 10px;
  }
  section.domaines-energetiques .nav li a .icon {
    margin-right: 10px;
  }
  section.domaines-energetiques .nav li a {
    font-size: 12px;
  }
  section.domaines-energetiques .tab-content .videos p {
    display: none;
  }
  section.protection-environnement {
    background: #397fa2;
  }
  section.protection-environnement p {
    padding: 0 15px 25px 15px;
  }
  section.actualites .actu-small .actu-box .date {
    height: 35px;
  }
  section.actualites .actu-small .actu-box .date span:nth-child(1) {
    width: auto;
    font-size: 18px;
    padding-left: 0;
    padding-top: 8px;
  }
  section.actualites .actu-small .actu-box .date span:nth-child(2) {
    width: auto;
    font-size: 13px;
    padding-left: 5px;
    padding-top: 8px;
  }
  section.infos {
    float: left;
    width: 100%;
  }
  section.actualites .actu-big .actu-box .infos .date {
    width: 40%;
    float: left;
    margin-left: 0;
  }
  section.actualites .actu-big .actu-box .infos .auteur {
    width: 60%;
    float: left;
    margin-top: -38px;
  }
  section.actualites .actu-big .actu-box .infos .auteur span {
    width: 100%;
    float: left;
  }
  section.actualites .actu-big .actu-box .texte {
    float: left;
  }
  footer .smartphone img {
    margin-top: -225px;
  }
}
@media (min-width: 770px) and (max-width: 1304px) {
  section.header .logo {
    width: 100%;
  }
  section.header .contact-rapide .icon-conseiller {
    display: none;
  }
  section.header .contact-rapide i {
    display: none;
  }
  section.header .contact-rapide .title {
    font-size: 20px;
    text-align: left;
    width: 100%;
  }
  section.header .contact-rapide .subtitle {
    font-size: 20px;
    text-align: left;
    width: 100%;
  }
  section.navigation a {
    font-size: 12px;
  }
  .bx-wrapper .bx-viewport {
    height: 430px !important;
  }
  .bx-wrapper img {
    max-width: none;
  }
  section.slider .slide-text-container {
    width: 485px;
    top: 125px;
  }
  section.slider .slider-controls #slider-prev {
    float: left;
    margin-left: 480px;
  }
  section.intro .intro-texte {
    padding: 35px 15px 35px 15px;
  }
  section.intro .calc-container {
    margin-top: -35px;
  }
  section.intro .calc-container .title-up span:nth-child(1) {
    font-size: 45px;
  }
  section.intro .calc-container .title-up span:nth-child(2) {
    font-size: 25px;
  }
  section.intro .calc-container .title-up {
    margin: -65px 0px 30px -38px;
    line-height: 25px;
  }
  section.domaines-energetiques .nav li {
    margin-right: 5px;
  }
  section.domaines-energetiques .nav li a {
    font-size: 12px;
    font-weight: 700;
    padding: 10px 8px;
  }
  section.domaines-energetiques .nav li a .icon {
    display: none;
  }
  section.domaines-energetiques .tab-content .videos p {
    display: none;
  }
  section.protection-environnement {
    background: #397fa2;
  }
  section.actualites .actu-small {
    display: none;
  }
  section.actualites .actu-big .actu-box .infos .auteur {
    display: none;
  }
  footer .smartphone img {
    margin-right: -50px;
  }
}
@media (min-width: 480px) and (max-width: 769px) {
  section.header .contact-rapide {
    max-width: 420px;
  }
  .connexion {
    text-align: right;
  }
  section.header .logo {
    width: 300px;
  }
  .navbar-toggle {
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    background: #0c6aa7;
  }
  .bx-viewport {
    height: 430px;
  }
  .bx-wrapper img {
    max-width: none;
  }
  section.slider .slide-text-container {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 25px;
  }
  section.slider .slider-controls {
    top: auto;
    left: 50%;
    width: 60px;
    margin-left: -30px;
    bottom: 25px;
  }
  section.intro .intro-texte {
    padding: 70px 35px;
  }
  section.intro .calc-container {
    padding: 35px;
    margin-top: auto;
    margin: 0;
  }
  section.intro .calc-container label {
    width: 100%;
  }
  section.domaines-energetiques .nav li {
    width: 100%;
  }
  section.domaines-energetiques .tab-content .videos {
    padding-left: 15px;
    padding-top: 35px;
  }
  section.domaines-energetiques .tab-content .videos p {
    padding-bottom: 15px;
  }
  section.protection-environnement {
    background: #397fa2;
  }
  section.protection-environnement p {
    padding: 0 15px 35px 15px;
  }
  section.domaines-energetiques .nav-tabs {
    width: 80%;
    margin: 0 auto;
  }
  section.actualites .actu-small a {
    display: none;
  }
  section.actualites .actu-small .row {
    width: 100%;
    float: left;
  }
  section.actualites .actu-big {
    padding: 15px 10%;
  }
  footer .app-dl {
    margin-top: 115px;
  }
  footer .smartphone img {
    margin-right: 0;
    margin-top: -225px;
  }
  section.domaines-energetiques h2,
  section.actualites h2 {
    padding: 0 35px 35px 35px;
  }
  section.actualites {
    padding: 70px 0 70px 0;
  }
}
@media (max-width: 479px) {
  section.header .contact-rapide {
    width: 100%;
  }
  section.header .contact-rapide .title,
  section.header .contact-rapide .subtitle {
    font-size: 18px;
  }
  section.header .contact-rapide .icon-conseiller {
    display: none;
  }
  section.header .contact-rapide i {
    padding: 12px 10px 12px 5px;
  }
  .connexion {
    text-align: right;
  }
  section.header .logo {
    width: 100%;
    padding: 15px;
  }
  .navbar-toggle {
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    background: #0c6aa7;
  }
  .bx-viewport {
    height: 430px;
  }
  .bx-wrapper img {
    max-width: none;
  }
  section.slider .slide-text-container {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 25px;
  }
  section.slider .slider-controls {
    top: auto;
    left: 50%;
    width: 60px;
    margin-left: -30px;
    bottom: 25px;
  }
  .slide-text-container h2 {
    font-size: 20px;
  }
  .slide-text-container p {
    font-size: 16px !important;
  }
  section.intro .intro-texte {
    padding: 15px;
  }
  section.intro .calc-container {
    margin-top: 70px;
  }
  section.intro .calc-container .title-up {
    margin: -60px 0px 30px -38px;
    line-height: 22px;
  }
  section.intro .calc-container .title-up span:nth-child(1) {
    font-size: 37px;
  }
  section.intro .calc-container .title-up span:nth-child(2) {
    font-size: 20px;
  }
  section.domaines-energetiques .nav li {
    width: 100%;
  }
  section.domaines-energetiques .tab-content .videos {
    padding-left: 15px;
    padding-top: 35px;
  }
  section.domaines-energetiques .tab-content .videos p {
    padding-bottom: 15px;
  }
  section.domaines-energetiques .nav-tabs {
    width: 100%;
    padding: 15px;
    border-bottom: none;
  }
  section.domaines-energetiques h2,
  section.actualites h2 {
    padding: 15px;
  }
  section.domaines-energetiques .tab-content .fiche {
    width: 100%;
  }
  section.domaines-energetiques .tab-content {
    padding: 5%;
  }
  section.domaines-energetiques .btn {
    padding: 10px 15px;
    font-size: 9px;
  }
  section.protection-environnement {
    background: #397fa2;
  }
  section.protection-environnement p {
    padding: 0 15px 25px 15px;
  }
  section.actualites .actu-small a {
    display: none;
  }
  section.actualites .actu-small .row {
    width: 100%;
    float: left;
  }
  section.actualites .actu-big {
    padding: 15px 10%;
  }
  section.actualites {
    padding: 70px 0 70px 0;
  }
  footer .app-dl {
    margin-top: 115px;
  }
  footer .smartphone {
    display: none;
  }
}
