body {
  color: #262c28;
  background-color: #f8f9fb;
  overflow-x: hidden;
}
p {
  font-family: raleway;
  font-size: 16px;
}
a {
  text-decoration: none !important;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
button:focus {
  outline: none !important;
}
section.header {
  padding: 25px 0;
  background: #fff;
}
section.header .contact-rapide {
  padding: 15px;
  background: #f8f9fb;
  float: right;
  cursor: pointer;
  margin-top: 20px;
  border-top: 5px solid #b92126;
  transition: all .3s;
  box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
}
section.header .contact-rapide:hover {
  background: #b92126;
  color: #fff;
  transition: all .3s;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: softPulce;
  animation-name: softPulce;
}
section.header .contact-rapide:hover .icon-conseiller {
  transition: all .3s;
  fill: #fff;
}
section.header .contact-rapide .title {
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  float: right;
  line-height: 1em;
}
section.header .contact-rapide .subtitle {
  font-size: 22px;
  font-weight: 100;
  float: right;
  line-height: 1em;
}
section.header .contact-rapide i {
  padding: 12px 10px 12px 20px;
  font-size: 25px;
}
section.header .contact-rapide .icon-conseiller {
  fill: #262c28;
  width: 50px;
  height: 50px;
  float: left;
}
section.header .dropdown-menu li a {
  float: left;
  width: 100%;
  margin: 5px 0;
}
section.header .dropdown-menu li a span.title {
  float: left;
  width: 100%;
  text-transform: uppercase;
  font-weight: 900;
}
section.header .dropdown-menu li a span.text {
  float: left;
}
section.header .logo {
  padding-top: 10px;
}
section.navigation {
  background: #55a7dc;
}
section.navigation a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  transition: all .6s;
}
section.navigation a i {
  padding: 0px 0 0 5px;
  font-size: .8em;
}
section.navigation .nav .open>a,
section.navigation .nav .open>a:hover,
section.navigation .nav .open>a:focus {
  background-color: #0b6ba8;
  transition: all .3s;
}
section.navigation .nav>li>a:hover,
section.navigation .nav>li>a:focus {
  background-color: #0b6ba8;
  transition: all .3s;
}
section.navigation .navbar-nav>li>.dropdown-menu {
  background-color: #0b6ba8;
}
section.navigation .dropdown-menu>li>a:hover,
section.navigation .dropdown-menu>li>a:focus {
  background-color: #fff;
  background-image: none;
}
section.slider {
  height: 430px;
  overflow: hidden;
  position: relative;
}
section.slider .bx-wrapper .bx-viewport {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  left: 0;
}
section.slider .slide-text-container {
  width: 600px;
  position: absolute;
  top: 140px;
  left: 20%;
}
section.slider .slide-text-container h2 {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0,0,0,0.27);
}
section.slider .slide-text-container p {
  color: #fff;
  text-shadow: 1.2px 1.2px rgba(0,0,0,0.27);
  font-size: 18px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}
section.slider .slide-text-container button {
  background: #0b6ba8;
  color: #fff;
}
section.slider .slider-controls {
  position: absolute;
  top: 190px;
  left: 20%;
  width: 600px;
}
section.slider .slider-controls i {
  color: #fff;
}
section.slider .slider-controls #slider-next {
  float: left;
  margin-left: -65px;
  font-size: 40px;
  text-shadow: 2px 2px rgba(0,0,0,0.27);
}
section.slider .slider-controls #slider-prev {
  float: right;
  margin-right: -65px;
  font-size: 40px;
  text-shadow: 2px 2px rgba(0,0,0,0.27);
}
section.intro {
  background: #fff;
}
section.intro .intro-texte {
  padding: 70px 35px 70px 0;
}
section.intro .intro-texte h1 {
  font-weight: 100;
  margin: 0px 0px 35px 0;
}
section.intro .intro-texte p {
  color: #969a9c;
  font-size: 18px;
}
section.intro .calc-container {
  background: #b92126;
  padding: 35px;
  margin-top: -70px;
}
section.intro .calc-container #msgCalculette {
  color: #fff;
}
section.intro .calc-container label {
  width: 100%;
}
section.intro .calc-container label span {
  font-size: 25px;
  float: left;
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 900;
}
section.intro .calc-container input {
  width: 48%;
}
section.intro .calc-container .title-up {
  margin: -73px 0px 30px -38px;
  padding: 0;
  line-height: 33px;
  float: left;
}
section.intro .calc-container .title-up span:nth-child(1) {
  color: #b92126;
  text-transform: uppercase;
  font-size: 56px;
  float: left;
}
section.intro .calc-container .title-up span:nth-child(2) {
  color: #FFF;
  text-transform: uppercase;
  font-size: 34px;
  float: left;
}
section.intro .calc-container label {
  color: #fff;
  font-weight: 400;
}
section.intro .calc-container input {
  margin-bottom: 25px;
  padding: 10px;
  background: #9e0b10;
  border: none;
  box-shadow: inset -3px -3px 5px rgba(0,0,0,0.25);
  color: #fff;
  font-size: 12px;
}
section.intro .calc-container button {
  color: #b92126;
  background-color: #fff;
}
section.intro .calc-container button:hover {
  color: #fff;
}
section.domaines-energetiques {
  padding: 70px 0 140px 0;
}
section.domaines-energetiques h1,
section.domaines-energetiques h2 {
  padding-bottom: 35px;
  font-weight: 100;
}
section.domaines-energetiques h1 span,
section.domaines-energetiques h2 span {
  text-transform: uppercase;
  font-weight: 900;
}
section.domaines-energetiques .nav li {
  background-color: #e1e5e8;
  transition: all 0.3s ease;
  margin-right: 10px;
  margin-bottom: 0;
}
section.domaines-energetiques .nav li a {
  color: #262c28;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
  padding: 15px 20px;
  background: none;
  border: none;
}
section.domaines-energetiques .nav li a .icon {
  fill: #262c28;
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 15px;
  margin-top: -2px;
}
section.domaines-energetiques .nav li.active {
  background-color: #0b6ba8;
  transition: all 0.3s ease;
}
section.domaines-energetiques .nav li.active a {
  background: none;
  border: none;
  color: #fff;
}
section.domaines-energetiques .nav li.active a .icon {
  fill: #fff;
}
section.domaines-energetiques .nav-tabs {
  border-bottom: 4px solid #0b6ba8;
}
section.domaines-energetiques .tab-content {
  padding: 70px;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
}
section.domaines-energetiques .tab-content h3 {
  margin: 0 0 15px 0;
  text-transform: uppercase;
}
section.domaines-energetiques .tab-content h3 span {
  font-weight: 100;
  text-transform: none;
}
section.domaines-energetiques .tab-content p.intro {
  padding-bottom: 23px;
  font-size: 18px;
}
section.domaines-energetiques .tab-content .fiche {
  border: 1px solid #969a9c;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}
section.domaines-energetiques .tab-content .fiche .date {
  background: #969a9c;
  color: #262c28;
  padding: 20px 0px;
  line-height: 18px;
  transition: all 0.3s ease;
}
section.domaines-energetiques .tab-content .fiche .date span:nth-child(1) {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}
section.domaines-energetiques .tab-content .fiche .date span:nth-child(2) {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
}
section.domaines-energetiques .tab-content .fiche .contenu {
  color: #969a9c;
}
section.domaines-energetiques .tab-content .fiche .contenu h4 {
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0 0 0;
  transition: all 0.3s ease;
}
section.domaines-energetiques .tab-content .fiche .contenu p {
  font-size: 14px;
  margin: 5px 0 0px 0;
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s ease;
}
section.domaines-energetiques .tab-content .fiche:hover {
  border-color: #b92126;
}
section.domaines-energetiques .tab-content .fiche:hover .date {
  background: #b92126;
  color: #fff;
  transition: all 0.3s ease;
}
section.domaines-energetiques .tab-content .fiche:hover .contenu h4 {
  color: #b92126;
  transition: all 0.3s ease;
}
section.domaines-energetiques .tab-content .fiche:hover .contenu p {
  color: #b92126;
  transition: all 0.3s ease;
}
section.domaines-energetiques .tab-content .videos {
  padding-left: 35px;
}
section.domaines-energetiques .tab-content .videos h4 {
  font-size: 14px;
  font-weight: 700;
  margin: 10px 0 0 0;
  transition: all 0.3s ease;
}
section.domaines-energetiques .tab-content .videos p {
  font-size: 14px;
  margin: 5px 0 0px 0;
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s ease;
}
section.domaines-energetiques .tab-content .videos .row {
  margin-bottom: 15px;
}
section.domaines-energetiques .tab-content .videos .embed-responsive {
  border: 1px solid #262c28;
}
section.domaines-energetiques .tab-content button {
  background-color: #0b6ba8;
  color: #fff;
  margin-bottom: -95px;
  margin-top: 45px;
}
section.domaines-energetiques .tab-content button:hover {
  background-color: #55a7dc !important;
}
section.domaines-energetiques .ficheslist .filterfiche {
  padding: 15px 15px 15px 35px;
  background: #f8f9fb;
  margin: 5px 0 25px 0;
  border-top: 5px solid #0b6ba8;
  box-shadow: inset 0px 3px 5px rgba(38,20,62,0.08);
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  font-weight: 600;
}
section.domaines-energetiques .ficheslist .searchicon {
  margin-right: -30px;
  color: #a9a9a9;
  padding-left: 12px;
}
section.domaines-energetiques .ficheslist .fiche-big:hover .fiche-box {
  transition: all 0.2s ease;
  background-color: #b92126;
  margin-top: -5px;
  margin-bottom: 40px;
  height: 200px;
  padding: 15px;
}
section.domaines-energetiques .ficheslist .fiche-big:hover .date {
  transition: all 0.2s ease;
  background-color: #fff !important;
  color: #b92126 !important;
}
section.domaines-energetiques .ficheslist .fiche-big:hover .texte h4 {
  transition: all 0.2s ease;
  color: #fff !important;
}
section.domaines-energetiques .ficheslist .fiche-big:hover .texte p {
  transition: all 0.2s ease;
  color: #fff !important;
}
section.domaines-energetiques .ficheslist .fiche-big:hover .texte a {
  transition: all 0.2s ease;
  color: #fff !important;
}
section.domaines-energetiques .ficheslist .fiche-big:hover .fiche-infos {
  transition: all 0.4s ease;
  color: #fff !important;
}
section.domaines-energetiques .ficheslist .fiche-big .fiche-infos {
  transition: all 0.4s ease;
}
section.domaines-energetiques .ficheslist .fiche-big .fiche-box {
  float: left;
  background: #e1e5e8;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
  transition: all 0.4s ease;
  margin-bottom: 35px;
  padding: 15px;
  height: 200px;
  width: 100%;
}
section.domaines-energetiques .ficheslist .fiche-big .fiche-box .infos .date {
  padding: 8px 5px;
  background-color: #262c28;
  color: #fff;
  line-height: 18px;
  transition: all 0.4s ease;
}
section.domaines-energetiques .ficheslist .fiche-big .fiche-box .infos .date span:nth-child(1) {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}
section.domaines-energetiques .ficheslist .fiche-big .fiche-box .infos .date span:nth-child(2) {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
}
section.domaines-energetiques .ficheslist .fiche-big .fiche-box .infos .fiche-infos {
  padding: 0 0 0 15px;
  font-size: 13px;
  width: auto;
  margin-top: 5px;
  color: #262c28;
}
section.domaines-energetiques .ficheslist .fiche-big .fiche-box .infos .fiche-infos span {
  font-weight: 700;
}
section.domaines-energetiques .ficheslist .fiche-big .fiche-box .texte {
  padding: 10px 5px;
}
section.domaines-energetiques .ficheslist .fiche-big .fiche-box .texte h4 {
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  color: #262c28;
  transition: all 0.4s ease;
}
section.domaines-energetiques .ficheslist .fiche-big .fiche-box .texte a {
  text-decoration: none;
  color: #969a9c;
  font-size: 13px;
  transition: all 0.4s ease;
}
section.domaines-energetiques .ficheslist .fiche-big .fiche-box .texte a i {
  padding-right: 5px;
}
section.fiche_conseils_infos {
  background-color: #f8f9fb;
}
section.fiche_conseils_infos .container {
  background-color: #fff;
}
section.fiche_conseils_infos .container .description {
  padding: 35px 70px 140px 70px;
}
section.fiche_conseils_infos .container .description h2,
section.fiche_conseils_infos .container .description h3 {
  text-transform: uppercase;
  font-weight: 100;
  padding-bottom: 25px;
}
section.fiche_conseils_infos .container .description h2 span,
section.fiche_conseils_infos .container .description h3 span {
  font-weight: 900;
}
section.fiche_conseils_infos .container .description p {
  color: #969a9c;
  font-size: 17px;
  line-height: 30px;
}
section.fiche_conseils_infos .container .partage {
  background-color: #262c28;
  color: #fff;
  padding: 15px;
}
section.fiche_conseils_infos .container .partage h3 {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}
section.fiche_conseils_infos .container .partage h3 i {
  padding-right: 15px;
}
section.fiche_conseils_infos .container .rss {
  background-color: #c1660c;
  color: #fff;
  padding: 15px;
}
section.fiche_conseils_infos .container .rss h3 {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}
section.fiche_conseils_infos .container .rss h3 i {
  padding-right: 15px;
}
section.fiche_conseils_infos .container .rss .rss-btn {
  height: 24px;
  padding: 2px 8px;
  line-height: 1.53;
  font-size: 12px;
  color: #fff;
  background: #e69b26;
  border: 1px solid #b16617;
  border-radius: 2px;
  text-decoration: none;
  transition: all 0.2s ease;
  margin-left: 5px;
}
section.fiche_conseils_infos .container .rss .rss-btn:hover {
  background-color: #e48525;
}
section.fiche_conseils_infos .container .rss .rss-btn img {
  width: auto;
  padding-right: 5px;
  height: 11px;
}
section.fiche_conseils_infos .container .liste-fiches {
  background-color: #e7ecef;
  padding: 15px;
}
section.fiche_conseils_infos .container .liste-fiches h3 {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 15px;
}
section.fiche_conseils_infos .container .liste-fiches .mini-fiche {
  float: left;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
  padding: 15px;
  margin-bottom: 15px;
  text-transform: none;
  color: #262c28;
  transition: all 0.2s ease;
}
section.fiche_conseils_infos .container .liste-fiches .mini-fiche:hover {
  text-decoration: none;
  background-color: #0b6ba8;
  color: #fff;
  transition: all 0.2s ease;
}
section.fiche_conseils_infos .container .liste-fiches .mini-fiche:hover p,
section.fiche_conseils_infos .container .liste-fiches .mini-fiche:hover .auteur {
  color: #fff;
}
section.fiche_conseils_infos .container .liste-fiches .mini-fiche h4 {
  font-weight: 600;
  font-size: 14px;
  margin: 0 0 5px 0;
}
section.fiche_conseils_infos .container .liste-fiches .mini-fiche p {
  color: #969a9c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
section.fiche_conseils_infos .container .liste-fiches .mini-fiche .auteur {
  color: #969a9c;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  float: right;
  margin: 0;
}
section.fiche_conseils_infos .container .liste-fiches .mini-fiche .auteur span {
  font-weight: 700;
}
section.fiche_conseils_infos .container .weswap-current {
  display: inline-block;
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 13px;
}
section.fiche_conseils_infos .container .weswap-current::-webkit-scrollbar {
  width: 7px;
}
section.fiche_conseils_infos .container .weswap-current::-webkit-scrollbar-thumb {
  background-color: #969a9c;
}
section.protection-environnement {
  background: url(../img/main-terre.png) no-repeat;
  background-color: #397fa2;
  background-size: auto 100%;
  background-position-x: -5%;
  box-shadow: 0 0px 70px 35px rgba(38,20,62,0.13);
}
section.protection-environnement .container {
  padding: 70px 0 35px 0;
}
section.protection-environnement h3 {
  color: #b3dded;
  font-size: 29px;
  padding: 0 15px;
}
section.protection-environnement h3 span {
  font-family: 'Gochi Hand', cursive;
  color: #fff;
  font-weight: 100;
  font-size: 44px;
  margin-left: 6px;
}
section.protection-environnement p {
  font-size: 18px;
  color: #b3dded;
  padding-bottom: 35px;
  padding: 0 15px;
}
section.protection-environnement .owl-item>div {
  margin: 0 15px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  height: 470px;
}
section.protection-environnement .owl-item>div .photo {
  height: 180px;
  background-position: center !important;
  background-size: cover !important;
}
section.protection-environnement .owl-item>div h4 {
  font-size: 15px;
  font-weight: 700;
  margin: 20px;
  color: #397fa2;
}
section.protection-environnement .owl-item>div p {
  margin: 20px;
  font-size: 13px;
  font-family: inherit;
  color: #70b9d4;
  font-weight: 600;
  padding: 0 0 20px 0;
}
section.protection-environnement .owl-item>div button {
  background-color: #70b9d4;
  color: #fff;
}
section.protection-environnement .owl-item>div button:hover {
  color: #70b9d4;
  border-color: #70b9d4;
  background: transparent !important;
}
section.protection-environnement .owl-buttons {
  margin: 0 auto;
  color: #fff;
  font-size: 28px;
  width: 120px;
  margin-top: 35px;
}
section.protection-environnement .owl-buttons .owl-prev {
  float: left;
}
section.protection-environnement .owl-buttons .owl-next {
  float: right;
}
section.protection-environnement .owl-buttons i {
  border-radius: 50%;
  border: 2px solid transparent;
  padding: 7px;
  transition: all 0.2s ease;
}
section.protection-environnement .owl-buttons i:hover {
  margin-top: -2px;
  border-color: #fff;
  transition: all 0.2s ease;
}
section.actualites {
  padding: 70px 0 175px 0;
}
section.actualites h2 {
  font-weight: 100;
  padding-bottom: 35px;
}
section.actualites h2 span {
  font-weight: 900;
  text-transform: uppercase;
}
section.actualites .actu-big {
  padding: 0 30px 0 0;
}
section.actualites .actu-big:hover .actu-box {
  transition: all 0.2s ease;
  background-color: #b92126;
  margin-top: -5px;
}
section.actualites .actu-big:hover .date {
  transition: all 0.2s ease;
  background-color: #fff !important;
  color: #b92126 !important;
}
section.actualites .actu-big:hover .texte h4 {
  transition: all 0.2s ease;
  color: #fff !important;
}
section.actualites .actu-big:hover .texte p {
  transition: all 0.2s ease;
  color: #fff !important;
}
section.actualites .actu-big .actu-box {
  float: left;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
  transition: all 0.4s ease;
  width: 100%;
}
section.actualites .actu-big .actu-box .photo {
  height: 215px;
  background-position: center !important;
  background-size: cover !important;
}
section.actualites .actu-big .actu-box .shadow {
  height: 40px;
  width: 100%;
  box-shadow: inset 0px -20px 20px rgba(0,0,0,0.6);
  float: left;
  z-index: 9999;
  margin-top: -40px;
}
section.actualites .actu-big .actu-box .infos .date {
  padding: 8px 5px;
  background-color: #0b6ba8;
  color: #fff;
  line-height: 18px;
  margin-top: -40px;
  margin-left: 10px;
  transition: all 0.4s ease;
}
section.actualites .actu-big .actu-box .infos .date span:nth-child(1) {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}
section.actualites .actu-big .actu-box .infos .date span:nth-child(2) {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
}
section.actualites .actu-big .actu-box .infos .auteur {
  padding: 0 0 0 5px;
  font-size: 13px;
  width: auto;
  margin-top: -20px;
  color: #fff;
}
section.actualites .actu-big .actu-box .infos .auteur span {
  font-weight: 700;
}
section.actualites .actu-big .actu-box .texte {
  padding: 15px 25px;
}
section.actualites .actu-big .actu-box .texte h4 {
  font-size: 15px;
  line-height: 21px;
  color: #0b6ba8;
  transition: all 0.4s ease;
}
section.actualites .actu-big .actu-box .texte p {
  color: #969a9c;
  font-family: inherit;
  font-size: 13px;
  transition: all 0.4s ease;
}
section.actualites .actu-small {
  padding: 0;
}
section.actualites .actu-small .actu-box {
  float: left;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
  transition: all 0.2s ease;
  margin-bottom: 30px;
  width: 100%;
}
section.actualites .actu-small .actu-box:hover {
  transition: all 0.2s ease;
  background-color: #b92126;
  margin-top: -5px;
  margin-bottom: 35px;
}
section.actualites .actu-small .actu-box:hover .date {
  transition: all 0.2s ease;
  background-color: #fff !important;
  color: #b92126 !important;
}
section.actualites .actu-small .actu-box:hover h4 {
  transition: all 0.2s ease;
  color: #fff !important;
}
section.actualites .actu-small .actu-box .date {
  height: 80px;
  background-size: 95px !important;
  background-repeat: no-repeat !important;
  padding: 0 15px;
  background-color: #0b6ba8 !important;
  color: #fff;
  transition: all 0.2s ease;
}
section.actualites .actu-small .actu-box .date span:nth-child(1) {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  padding-top: 22px;
  line-height: 18px;
}
section.actualites .actu-small .actu-box .date span:nth-child(2) {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
}
section.actualites .actu-small .actu-box .contenu {
  padding: 0;
}
section.actualites .actu-small .actu-box .contenu h4 {
  transition: all 0.2s ease;
  font-size: 13px;
  line-height: 17px;
  color: #0b6ba8;
  padding: 5px 10px;
  margin: 0;
  max-height: 80px;
  overflow: hidden;
  font-weight: 700;
}
section.actualites .actu-small button {
  background-color: #0b6ba8;
  color: #fff;
}
section.actualites .actu-small button:hover {
  background-color: #55a7dc !important;
}
section.domaine_energetique_intro {
  background-color: #9e0b10;
  color: #fff;
}
section.domaine_energetique_intro .container {
  background-color: #b92126;
  padding: 35px 70px;
}
section.domaine_energetique_intro .container h1 {
  padding-left: 25px;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 28px;
  padding-bottom: 25px;
}
section.domaine_energetique_intro .container h1 span {
  font-weight: 900;
}
section.domaine_energetique_intro .container p {
  border-left: 2px solid #fff;
  padding-left: 25px;
  line-height: 25px;
  font-size: 19px;
}
section.domaine_energetique_infos {
  background-color: #f8f9fb;
}
section.domaine_energetique_infos .container {
  background-color: #fff;
}
section.domaine_energetique_infos .container .description {
  padding: 35px 70px;
}
section.domaine_energetique_infos .container .description h2,
section.domaine_energetique_infos .container .description h3 {
  text-transform: uppercase;
  font-weight: 100;
  padding-bottom: 25px;
}
section.domaine_energetique_infos .container .description p {
  color: #969a9c;
  font-size: 17px;
  line-height: 30px;
}
section.domaine_energetique_infos .container .partage {
  background-color: #262c28;
  color: #fff;
  padding: 15px;
}
section.domaine_energetique_infos .container .partage h3 {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}
section.domaine_energetique_infos .container .partage h3 i {
  padding-right: 15px;
}
section.domaine_energetique_infos .container .liste-fiches {
  background-color: #e7ecef;
  padding: 15px;
}
section.domaine_energetique_infos .container .liste-fiches h3 {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 15px;
}
section.domaine_energetique_infos .container .liste-fiches .mini-fiche {
  float: left;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
  padding: 15px;
  margin-bottom: 15px;
  text-transform: none;
  color: #262c28;
  transition: all 0.2s ease;
  width: 100%;
}
section.domaine_energetique_infos .container .liste-fiches .mini-fiche:hover {
  text-decoration: none;
  background-color: #0b6ba8;
  color: #fff;
  transition: all 0.2s ease;
}
section.domaine_energetique_infos .container .liste-fiches .mini-fiche:hover p,
section.domaine_energetique_infos .container .liste-fiches .mini-fiche:hover .auteur {
  color: #fff;
}
section.domaine_energetique_infos .container .liste-fiches .mini-fiche h4 {
  font-weight: 600;
  font-size: 14px;
  margin: 0 0 5px 0;
}
section.domaine_energetique_infos .container .liste-fiches .mini-fiche p {
  color: #969a9c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
section.domaine_energetique_infos .container .liste-fiches .mini-fiche .auteur {
  color: #969a9c;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  float: right;
  margin: 0;
}
section.domaine_energetique_infos .container .liste-fiches .mini-fiche .auteur span {
  font-weight: 700;
}
section.domaine_energetique_infos .container .weswap-current {
  display: inline-block;
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 13px;
}
section.domaine_energetique_infos .container .weswap-current::-webkit-scrollbar {
  width: 7px;
}
section.domaine_energetique_infos .container .weswap-current::-webkit-scrollbar-thumb {
  background-color: #969a9c;
}
section.domaine_energetique_videos {
  background-color: #e7ecef;
}
section.domaine_energetique_videos .container {
  background-color: #d6dee1;
  color: #fff;
}
section.domaine_energetique_videos .container .filtre {
  background-color: #262c28;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}
section.domaine_energetique_videos .container .filtre:hover {
  transition: all 0.2s ease;
  background: #0b6ba8;
}
section.domaine_energetique_videos .container .title {
  background-color: #66b332;
  text-transform: uppercase;
}
section.domaine_energetique_videos .container h3 {
  font-weight: 100;
  font-size: 20px;
  margin: 20px 0;
}
section.domaine_energetique_videos .container h3 span {
  font-weight: 900;
}
section.domaine_energetique_videos .container .video-list {
  padding: 20px 10px 140px 10px;
}
section.domaine_energetique_videos .container .video-list .video_container {
  padding: 0 10px 20px 10px;
  width: 25%;
  float: left;
}
section.domaine_energetique_videos .container .video-list .video_container .infos {
  transition: all 0.2s ease;
  color: #262c28;
  float: left;
  background: #fff;
  padding: 15px;
  box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
  border-radius: 5px;
}
section.domaine_energetique_videos .container .video-list .video_container .infos:hover {
  transition: all 0.2s ease;
  background: #262c28;
  color: #fff;
}
section.domaine_energetique_videos .container .video-list .video_container .infos h4 {
  font-size: 14px;
  text-transform: uppercase;
}
section.domaine_energetique_videos .container .video-list .video_container .infos p {
  font-size: 14px;
  line-height: 16px;
  font-family: "Open Sans", sans-serif;
}
section.domaine_energetique_videos .container .video-list .video_container .infos .auteur {
  color: #969a9c;
  font-size: 13px;
  padding-top: 10px;
}
section.page_photo {
  height: 450px;
}
section.page_photo .bg_flou {
  height: 450px;
  -webkit-filter: blur(10px) brightness(110%);
  -o-filter: blur(10px) brightness(110%);
  -moz-filter: blur(10px) brightness(110%);
  -ms-filter: blur(10px) brightness(110%);
  filter: blur(10px) brightness(110%);
  background-position: center center !important;
  overflow: hidden;
  opacity: .7;
  background-size: 100% !important;
  box-shadow: inset 0px -10px 0px #fff;
}
section.page_photo .bg_clear {
  height: 450px;
  position: relative;
  margin-top: -450px;
  padding: 0;
  background-position: center center !important;
  background-size: cover !important;
}
section.page_photo .bg_clear h1 {
  color: #fff;
  bottom: 0;
  position: absolute;
  width: 100%;
  background: linear-gradient(to top,rgba(0,0,0,0.6),transparent);
  padding: 140px 35px 30px 35px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}
section.page_photo .bg_clear h1 span {
  width: 100%;
  float: left;
  text-transform: none;
  font-size: 14px;
  font-weight: 700;
}
section.page_photo .bg_clear h1 span i {
  padding: 0 5px;
}
section.page_infos .container {
  background-color: #fff;
}
section.page_infos .container .description {
  padding: 35px 35px 140px 35px;
}
section.page_infos .container .description h2,
section.page_infos .container .description h3 {
  text-transform: uppercase;
}
section.page_infos .container .description h2 b,
section.page_infos .container .description h3 b {
  font-weight: 900;
}
section.page_infos .container .description h3 {
  font-weight: 600;
}
section.page_infos .container .description p {
  color: #969a9c;
  font-size: 17px;
  line-height: 30px;
}
section.page_infos .container .description p strong {
  color: #262c28;
}
section.page_infos .container .description img {
  margin: 0 15px;
  max-width: 100%;
}
section.page_infos .container .partage {
  background-color: #b92126;
  color: #fff;
  padding: 15px;
}
section.page_infos .container .partage h3 {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}
section.page_infos .container .partage h3 i {
  padding-right: 15px;
}
section.page_infos .container .partage .share-btn {
  border: 1px solid rgba(0,0,0,0.58);
}
section.page_infos .container .rss {
  background-color: #c1660c;
  color: #fff;
  padding: 15px;
}
section.page_infos .container .rss h3 {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}
section.page_infos .container .rss h3 i {
  padding-right: 15px;
}
section.page_infos .container .rss .rss-btn {
  height: 24px;
  padding: 2px 8px;
  line-height: 1.53;
  font-size: 12px;
  color: #fff;
  background: #e69b26;
  border: 1px solid #b16617;
  border-radius: 2px;
  text-decoration: none;
  transition: all 0.2s ease;
  margin-left: 5px;
}
section.page_infos .container .rss .rss-btn:hover {
  background-color: #e48525;
}
section.page_infos .container .rss .rss-btn img {
  width: auto;
  padding-right: 5px;
  height: 11px;
}
section.page_infos .container .liste-actus {
  background-color: #e7ecef;
  padding: 15px 15px 140px 15px;
}
section.page_infos .container .liste-actus h3 {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 15px;
}
section.page_infos .container .liste-actus .mini-actu {
  float: left;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
  padding: 15px;
  margin-bottom: 15px;
  text-transform: none;
  color: #262c28;
  transition: all 0.2s ease;
  width: 100%;
}
section.page_infos .container .liste-actus .mini-actu:hover {
  text-decoration: none;
  background-color: #0b6ba8;
  color: #fff;
  transition: all 0.2s ease;
}
section.page_infos .container .liste-actus .mini-actu:hover p,
section.page_infos .container .liste-actus .mini-actu:hover .auteur {
  color: #fff;
}
section.page_infos .container .liste-actus .mini-actu h4 {
  font-weight: 600;
  font-size: 14px;
  margin: 0 0 5px 0;
}
section.page_infos .container .liste-actus .mini-actu p {
  color: #969a9c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
section.page_infos .container .liste-actus .mini-actu .auteur {
  color: #969a9c;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  float: right;
  margin: 0;
}
section.page_infos .container .liste-actus .mini-actu .auteur span {
  font-weight: 700;
}
section.page_infos .container .liste-actus button {
  color: #fff;
  background-color: #262c28;
}
section.page_infos .container .liste-actus button:hover {
  background-color: #0b6ba8 !important;
}
footer {
  background: #262c28;
  color: #fff;
  padding: 75px 0 0 0;
}
footer ul li span {
  float: left;
  width: 100%;
  padding-bottom: 15px;
  text-transform: uppercase;
}
footer ul li a {
  color: #fff;
}
footer ul li a:hover {
  color: #55a7dc;
  text-decoration: none;
}
footer .app-dl {
  background: #b92126;
  margin-top: -115px;
}
footer .app-dl .title-up {
  margin: -38px 0px 30px -17px;
  padding: 0;
  line-height: 33px;
  float: left;
}
footer .app-dl .title-up span:nth-child(1) {
  color: #b92126;
  text-transform: uppercase;
  font-size: 56px;
  float: left;
}
footer .app-dl .title-up span:nth-child(2) {
  color: #FFF;
  text-transform: uppercase;
  font-size: 34px;
  float: left;
}
footer .app-dl .store {
  background: #000;
  padding: 5px;
  margin-left: 30px;
  float: left;
  border-radius: 5px;
  width: 178px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 15px;
}
footer .app-dl p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 14px;
}
footer .smartphone img {
  margin-right: -120px;
  float: right;
  margin-top: -120px;
}
section.newslist {
  background-color: #f8f9fb;
  padding: 0px 0 140px 0;
}
section.newslist .container .page h2 {
  text-transform: uppercase;
  font-weight: 100;
  padding-bottom: 25px;
  padding-top: 35px;
}
section.newslist .container .page h2 span {
  font-weight: 900;
}
section.newslist .container .actu-big:hover .actu-box {
  transition: all 0.2s ease;
  background-color: #b92126;
  margin-top: -5px;
  margin-bottom: 40px;
}
section.newslist .container .actu-big:hover .date {
  transition: all 0.2s ease;
  background-color: #fff !important;
  color: #b92126 !important;
}
section.newslist .container .actu-big:hover .texte h4 {
  transition: all 0.2s ease;
  color: #fff !important;
}
section.newslist .container .actu-big:hover .texte p {
  transition: all 0.2s ease;
  color: #fff !important;
}
section.newslist .container .actu-big:hover .texte a {
  transition: all 0.2s ease;
  color: #fff !important;
}
section.newslist .container .actu-big .actu-box {
  float: left;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
  transition: all 0.4s ease;
  margin-bottom: 35px;
  width: 100%;
  height: 400px;
}
section.newslist .container .actu-big .actu-box .news-bg {
  width: 100%;
  float: left;
  height: 200px;
  background-size: cover !important;
  background-position: center center !important;
}
section.newslist .container .actu-big .actu-box .shadow {
  height: 40px;
  width: 100%;
  box-shadow: inset 0px -40px 25px -20px rgba(0,0,0,0.6);
  float: left;
  z-index: 9999;
  margin-top: -40px;
}
section.newslist .container .actu-big .actu-box .photo {
  height: 250px;
  background-position: center !important;
  background-size: cover !important;
}
section.newslist .container .actu-big .actu-box .infos .date {
  padding: 8px 5px;
  background-color: #0b6ba8;
  color: #fff;
  line-height: 18px;
  margin-top: -40px;
  margin-left: 10px;
  transition: all 0.4s ease;
}
section.newslist .container .actu-big .actu-box .infos .date span:nth-child(1) {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}
section.newslist .container .actu-big .actu-box .infos .date span:nth-child(2) {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 13px;
  font-weight: 100;
}
section.newslist .container .actu-big .actu-box .infos .auteur {
  padding: 0 0 0 5px;
  font-size: 13px;
  width: auto;
  margin-top: -20px;
  color: #fff;
}
section.newslist .container .actu-big .actu-box .infos .auteur span {
  font-weight: 700;
}
section.newslist .container .actu-big .actu-box .texte {
  padding: 15px 25px;
}
section.newslist .container .actu-big .actu-box .texte h4 {
  font-size: 15px;
  line-height: 21px;
  color: #0b6ba8;
  transition: all 0.4s ease;
}
section.newslist .container .actu-big .actu-box .texte p {
  color: #969a9c;
  font-family: inherit;
  font-size: 13px;
  overflow: hidden;
  transition: all 0.4s ease;
}
section.newslist .container .actu-big .actu-box .texte a {
  text-decoration: none;
  color: #969a9c;
  font-size: 13px;
}
section.newslist .container .actu-big .actu-box .texte a i {
  padding-right: 5px;
}
section.defaut .page {
  padding: 70px;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
  padding: 70px 70px 140px 70px;
  margin-top: 35px;
  border-top: 5px solid #cccccc;
}
section.defaut .page h2,
section.defaut .page h1 {
  text-transform: uppercase;
  margin: 15px 0 35px 0;
  font-weight: 100;
}
section.defaut .page h2 span,
section.defaut .page h1 span {
  font-weight: 900;
}
section.defaut .page #homeVisio .icon-conseiller {
  width: 30px;
  height: 20px;
  float: left;
  margin-top: -8px;
  margin-right: 13px;
  fill: #fff;
}
section.defaut .page #calendar button {
  background: #f8f9fb;
  cursor: pointer;
  margin: 5px 0 25px 0;
  box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
  border: 1px solid #ccc;
  font-weight: 200;
}
section.defaut .page #calendar .fc-toolbar,
section.defaut .page #calendar .fc-view {
  float: left;
}
section.defaut .page #calendar .fc-toolbar .fc-center h2,
section.defaut .page #calendar .fc-view .fc-center h2 {
  margin: 9px 16px;
  font-size: 20px;
  font-weight: 400;
}
section.defaut .page #calendar .fc-toolbar .fc-day-header,
section.defaut .page #calendar .fc-view .fc-day-header {
  padding: 10px 0;
  font-weight: 700;
}
section.defaut .page #calendar .fc-view {
  background: #f8f9fb;
  margin: 5px 0 25px 0;
  box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
  cursor: default;
  border-top: 5px solid #0c6aa7;
}
section.defaut .page #calendar .fc-event {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
section.defaut .page select {
  padding: 15px;
  background: #f8f9fb;
  cursor: pointer;
  margin: 5px 0 25px 0;
  border-top: 5px solid #0c6aa7;
  box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  font-weight: 600;
}
section.defaut .page p {
  color: #969a9c;
  font-family: raleway;
  font-size: 18px;
  line-height: 25.7143px;
  padding-bottom: 35px;
}
.dropdown-menu {
  padding: 12px 0;
  margin: 0;
  font-size: inherit;
  background-color: #fff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 35px rgba(48,27,68,0.5);
  box-shadow: 0 5px 35px rgba(48,27,68,0.5);
}
.btn {
  padding: 15px 30px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 12px;
  margin-bottom: 35px;
  transition: all 0.5s ease 0s;
  border: solid 2px transparent;
}
.btn:hover {
  transition: all 0.2s ease;
  border: solid 2px #fff;
  color: #fff;
  background: rgba(29,39,35,0.27) !important;
  padding-left: 38px;
  padding-right: 25px;
  text-decoration: none;
}
.btn-default {
  background-color: #0b6ba8;
  color: #fff;
  background-image: none;
  text-shadow: 0 1px 0 #053b5d;
}
.btn-default:hover {
  background-color: #55a7dc !important;
  text-shadow: 0 1px 0 #368abf;
}
.ui-widget-content {
  background: #0b6ba8;
  color: #fff;
  cursor: pointer;
}
.ui-widget-content li {
  padding: 5px;
}
.ui-widget-content li:hover {
  background: #55a7dc;
}
.modal h1,
.modal h2,
.modal h3 {
  text-transform: uppercase;
}
.modal p {
  font-family: "Open Sans", sans-serif;
}
.modal #heureDispo {
  padding: 15px;
  background: #f8f9fb;
  cursor: pointer;
  margin: 5px 0 25px 0;
  border-top: 5px solid #0c6aa7;
  box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  font-weight: 600;
}
