
@blue1: #0b6ba8;
@blue2: #55a7dc;
@red1: #b92126;
@red2: #9e0b10;
@grey1: #262c28;
@grey2: #f8f9fb;
@grey3: #969a9c;
@grey4: #e1e5e8;
@green1: #66b332;


body{
	color: @grey1;
	background-color: #f8f9fb;
	overflow-x: hidden;
}
p{
	font-family: raleway;
	font-size: 16px;
}
a{
	text-decoration:none !important;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, button:focus{
	outline: none !important;
}
section.header{
	padding: 25px 0;
	background: #fff;

	.contact-rapide{
		padding: 15px;
		background: @grey2;
		float: right;
		cursor: pointer;
		margin-top: 20px;
		border-top: 5px solid @red1;
		transition: all .3s;
		box-shadow: 0px 3px 5px rgba(38,20,62,0.08);

		&:hover {
			background: @red1;
			color: #fff;
			transition: all .3s;

			-webkit-animation-duration: .5s;
			animation-duration: .5s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

			-webkit-animation-name: softPulce;
			animation-name: softPulce;

			.icon-conseiller{
				transition: all .3s;
				fill:#fff;
			}
    	}

		.title{
		    font-size: 25px;
		    font-weight: 900;
		    text-transform: uppercase;
		    float: right;
		    line-height: 1em;
		}
		.subtitle{
		    font-size: 22px;
		    font-weight: 100;
		    float: right;
		    line-height: 1em;
		}
		i{
			padding: 12px 10px 12px 20px;
			font-size: 25px;
		}
		.icon-conseiller{
			fill:@grey1;
			width: 50px;
			height: 50px;
			float: left;
		}
	}
	.dropdown-menu{
		li{
			a{
				float: left;
				width: 100%;
				margin: 5px 0;

				span.title{
					float: left;
					width: 100%;
					text-transform: uppercase;
					font-weight: 900;
				}
				span.text{
					float: left;
				}
			}
		}
	}
	.logo{
		padding-top: 10px;
	}

}
section.navigation{
	background: @blue2;

	a{
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		transition: all .6s;

		i{
			padding: 0px 0 0 5px;
			font-size: .8em;
		}
	}
	.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
		background-color: @blue1;
		transition: all .3s;
	}
	.nav>li>a:hover, .nav>li>a:focus{
		background-color: @blue1;
		transition: all .3s;
	}
	.navbar-nav>li>.dropdown-menu{
		background-color: @blue1;
	}
	.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
		background-color: #fff;
		background-image: none;
	}
}
section.slider{
	height: 430px;
	overflow: hidden;
	position: relative;

	.bx-wrapper .bx-viewport {
	    -moz-box-shadow: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    border: none;
	    left: 0;
	}
	.slide-text-container{
		width: 600px;
		position: absolute;
		top: 140px;
		left: 20%;

		h2{
			color: #fff;
			text-transform: uppercase;
			text-shadow: 2px 2px rgba(0, 0, 0, 0.27);
		}
		p{
			color: #fff;
			text-shadow: 1.2px 1.2px rgba(0,0,0,0.27);
			font-size: 18px;
			font-weight: 500;
			font-family: "Open Sans", sans-serif;
		}
		button{
			background: @blue1;
			color: #fff;
		}
	}
	.slider-controls{
		position: absolute;
		top: 190px;
		left: 20%;
		width: 600px;

		i{
			color: #fff;
		}
		#slider-next{
			float: left;
			margin-left: -65px;
			font-size: 40px;
			text-shadow: 2px 2px rgba(0,0,0,0.27);
		}
		#slider-prev{
			float: right;
			margin-right: -65px;
			font-size: 40px;
			text-shadow: 2px 2px rgba(0,0,0,0.27);
		}
	}
}
section.intro{
	background: #fff;
	
	.intro-texte{
		padding: 70px 35px 70px 0;

		h1{
			font-weight: 100;
			margin: 0px 0px 35px 0;
		}
		p{
			color: @grey3;
			font-size: 18px;
		}
	}
	.calc-container{
		background: @red1;
		padding: 35px;
		margin-top: -70px;
		
		#msgCalculette{
			color:#fff;
		}
		
		label{
			width: 100%;
			
			span{
			    font-size: 25px;
			    float: left;
			    width: 100%;
			    border-bottom: 1px solid #fff;
			    margin-bottom: 25px;
			    text-transform: uppercase;
			    font-weight: 900;
			}
		}
		input{
			width: 48%;
		}

		.title-up{
			margin: -73px 0px 30px -38px;
			padding: 0;
			line-height: 33px;
			float: left;
			
			span:nth-child(1){
				color: @red1;
				text-transform: uppercase;
				font-size: 56px;
				float: left;
			}			
			span:nth-child(2){
				color: #FFF;
				text-transform: uppercase;
				font-size: 34px;
				float: left;
			}
		}
		label{
			color: #fff;
			font-weight: 400;
		}
		input{
			margin-bottom: 25px;
			padding: 10px;
			background: #9e0b10;
			border: none;
			box-shadow: inset -3px -3px 5px rgba(0, 0, 0, 0.25);
			color: #fff;
			font-size: 12px;
		}
		button{
			color: @red1;
			background-color: #fff;

			&:hover {
				color: #fff;
			}
		}
	}
}
section.domaines-energetiques{
	padding: 70px 0 140px 0;

	h1, h2{
		padding-bottom: 35px;
		font-weight: 100;

		span{
		text-transform: uppercase;
		font-weight: 900;

		}
	}
	.nav{
		li{
			background-color: @grey4;
			transition: all 0.3s ease;
		    margin-right: 10px;
		    margin-bottom: 0;
			a{
				color: @grey1;
				text-transform: uppercase;
				font-size: 13px;
				font-weight: 900;
				padding: 15px 20px;
				background: none;
				border: none;
			
				.icon{
					fill:@grey1;
					width: 25px;
					height: 25px;
					float: left;
					margin-right: 15px;
					margin-top: -2px;
				}
			}

		}
		li.active{
			background-color: @blue1;
			transition: all 0.3s ease;

			a{
				background: none;
				border: none;
				color: #fff;	

				.icon{
					fill:#fff;
				}
			}
		}
	}

	.nav-tabs{
		border-bottom: 4px solid @blue1;
	}
	.tab-content{
		padding: 70px;
		background: #fff;
		box-shadow: 0px 3px 5px rgba(38,20,62,0.08);

		h3{
			margin: 0 0 15px 0;
			text-transform: uppercase;

			span{
				font-weight: 100;
				text-transform: none;
			}
		}
		p.intro{
			padding-bottom: 23px;
			font-size: 18px;
		}
		.fiche{
			border: 1px solid @grey3;
			transition: all 0.3s ease;
			margin-bottom: 15px;

			.date{
				background: @grey3;
				color: @grey1;
				padding: 20px 0px;
				line-height: 18px;
				transition: all 0.3s ease;

				span:nth-child(1){
					width: 100%;
					float: left;
					text-align: center;
					font-size: 24px;
					font-weight: 900;
				}
				span:nth-child(2){
					width: 100%;
					float: left;
					text-align: center;
					font-size: 13px;
					font-weight: 100;
				}
			}
			.contenu{
				color: @grey3;

				h4{
					font-size: 14px;
					font-weight: 700;
					margin: 10px 0 0 0;
					transition: all 0.3s ease;
				}
				p{
					font-size: 14px;
					margin: 5px 0 0px 0;
					font-family: "Open Sans", sans-serif;
					transition: all 0.3s ease;
				}
			}

			&:hover {
				border-color: @red1;

				.date{
					background: @red1;
					color: #fff;
					transition: all 0.3s ease;
				}
				.contenu{

					h4{
						color: @red1;
						transition: all 0.3s ease;
					}
					p{
						color: @red1;
						transition: all 0.3s ease;
					}
				}
			}
		}
		.videos{
			padding-left: 35px;

			h4{
				font-size: 14px;
				font-weight: 700;
				margin: 10px 0 0 0;
				transition: all 0.3s ease;
			}
			p{
				font-size: 14px;
				margin: 5px 0 0px 0;
				font-family: "Open Sans", sans-serif;
				transition: all 0.3s ease;
			}
			.row{
				margin-bottom: 15px;
			}
			.embed-responsive{
				border: 1px solid @grey1;
			}
		}

		button{
			background-color: #0b6ba8;
			color: #fff;
			margin-bottom: -95px;
			margin-top: 45px;

			&:hover{
				background-color: @blue2 !important;
			}
		}
	}

	.ficheslist{
		.filterfiche{
		    padding: 15px 15px 15px 35px;
		    background: #f8f9fb;
		    /* cursor: pointer; */
		    margin: 5px 0 25px 0;
		    border-top: 5px solid #0b6ba8;
		    box-shadow: inset 0px 3px 5px rgba(38,20,62,0.08);
		    border-left: none;
		    border-right: none;
		    border-bottom: 1px solid #ccc;
		    font-weight: 600;
		}
		.searchicon{
			margin-right: -30px;
			color: #a9a9a9;
			padding-left: 12px;
		}

		.fiche-big{
			&:hover{
				.fiche-box{
					transition: all 0.2s ease;
					background-color:@red1;
					margin-top: -5px;
					margin-bottom: 40px;
					height: 200px;
					padding: 15px;
				}
				.date{
					transition: all 0.2s ease;
					background-color: #fff !important;
					color: @red1 !important;
				}
				.texte{
					h4{
						transition: all 0.2s ease;
						color: #fff !important;
					}
					p{
						transition: all 0.2s ease;
						color: #fff !important;
					}
					a{
						transition: all 0.2s ease;
						color: #fff !important;							
					}
				}
				.fiche-infos{
					transition: all 0.4s ease;
					color: #fff !important;
				}
			}

			.fiche-infos{
				transition: all 0.4s ease;
			}

			.fiche-box{
				float: left;
				background: @grey4;
				border-radius: 5px;
				overflow: hidden;
				box-shadow: 0px 3px 5px rgba(38, 20, 62, 0.08);
				transition: all 0.4s ease;
				margin-bottom: 35px;
				padding: 15px;
				height: 200px;
				width:100%;

				.infos{

					.date{
						padding: 8px 5px;
						background-color: @grey1;
						color: #fff;
						line-height: 18px;
						transition: all 0.4s ease;

						span:nth-child(1){
							width: 100%;
							float: left;
							text-align: center;
							font-size: 24px;
							font-weight: 900;
							text-transform: uppercase;
						}
						span:nth-child(2){
							width: 100%;
							float: left;
							text-align: center;
							font-size: 13px;
							font-weight: 100;
						}
					}
					.fiche-infos{
						padding: 0 0 0 15px;
						font-size: 13px;
						width: auto;
						margin-top: 5px;
						color: @grey1;

						span{
							font-weight: 700;
						}
					}
				}
				.texte{
					padding: 10px 5px;

					h4{
						font-size: 15px;
						font-weight: 500;
						line-height: 21px;
						color: @grey1;
						transition: all 0.4s ease;
					}

					a{
						text-decoration: none;
						color: @grey3;
						font-size: 13px;
						transition: all 0.4s ease;

						i{
							padding-right: 5px;
						}
					}
				}
			}
		}
	}
}
section.fiche_conseils_infos{
	background-color: @grey2;

	.container{
		background-color: #fff;

		.description{
			padding: 35px 70px 140px 70px;

			h2,h3{
				text-transform: uppercase;
				font-weight: 100;
				padding-bottom: 25px;
				span{
					font-weight: 900;
				}

			}
			p{
				color: @grey3;
				font-size: 17px;
				line-height: 30px;
			}
		}
		.partage{
			background-color: @grey1;
			color: #fff;
			padding: 15px;

			h3{
				margin: 0;
				font-weight: 600;
				text-transform: uppercase;
				font-size: 18px;

				i{
					padding-right: 15px;
				}
			}
		}
		.rss{
			background-color: #c1660c;
			color: #fff;
			padding: 15px;

			h3{
				margin: 0;
				font-weight: 600;
				text-transform: uppercase;
				font-size: 18px;

				i{
					padding-right: 15px;
				}
			}
			.rss-btn{
				height: 24px;
				padding: 2px 8px;
				line-height: 1.53;
				font-size: 12px;
				color: #fff;
				background: #e69b26;
				border: 1px solid #b16617;
				border-radius: 2px;
				text-decoration: none;
				transition: all 0.2s ease;
				margin-left: 5px;	
				
				&:hover{
					background-color:#e48525;
				}
				img{
					width: auto;
					padding-right: 5px;
					height: 11px;
				}			
			}
		}
		.liste-fiches{
			background-color: #e7ecef;
			padding: 15px;

			h3{
				margin: 0;
				font-weight: 600;
				text-transform: uppercase;
				font-size: 18px;
				padding-bottom: 15px;


			}
			.mini-fiche{
				float: left;
				background: #fff;
				border-radius: 5px;
				overflow: hidden;
				box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
				padding: 15px;
				margin-bottom: 15px;
				text-transform: none;
				color: @grey1;
				transition: all 0.2s ease;

				&:hover{
					text-decoration:none;
					background-color: @blue1;
					color: #fff;
					transition: all 0.2s ease;

					p, .auteur{
						color: #fff;
					}
				}

				h4{
					font-weight: 600;
					font-size: 14px;
					margin: 0 0 5px 0;
				}
				p{
					color: @grey3;
					font-family: "Open Sans", sans-serif;
					font-size: 14px;

				}
				.auteur{
					color: @grey3;
					font-family: "Open Sans", sans-serif;
					font-weight: 400;
					font-size: 12px;
					float: right;
					margin: 0;

					span{
						font-weight: 700;
					}
				}
			}
		}
		.weswap-current {
		  display:inline-block;
		  height:600px;
		  overflow:hidden;
		  overflow-y:scroll;
		  padding-right: 13px;
		}

		.weswap-current::-webkit-scrollbar {
		  width: 7px;
		}
		 
		.weswap-current::-webkit-scrollbar-thumb {
		  background-color:@grey3;

		}
	}
}
section.protection-environnement{
    background: url(../img/main-terre.png) no-repeat;
    background-color: #397fa2;
    background-size: auto 100%;
	background-position-x: -5%;
	box-shadow: 0 0px 70px 35px rgba(38, 20, 62, 0.13);

    .container{
    	padding: 70px 0 35px 0;
    }

    h3{
    	color: #b3dded;
    	font-size: 29px;
    	padding: 0 15px;
	
	    span{
			font-family: 'Gochi Hand', cursive;
			color: #fff;
			font-weight: 100;
			font-size: 44px;
			margin-left: 6px;
	    }
    }
    p{
    	font-size: 18px;
    	color: #b3dded;
		padding-bottom: 35px;
		padding: 0 15px;
    }

    .owl-item>div{
    	margin: 0 15px;
    	background-color: #fff;
    	border-radius: 5px;
    	overflow: hidden;
    	height:470px;

		.photo{
			height: 180px;
			background-position: center !important;
			background-size: cover !important;
		}
    	h4{
    		font-size: 15px;
    		font-weight: 700;
    		margin: 20px;
    		color: #397fa2;
    	}
    	p{
			margin: 20px;
			font-size: 13px;
			font-family: inherit;
			color: #70b9d4;
			font-weight: 600;
			padding: 0 0 20px 0;
    	}
    	button{
    		background-color: #70b9d4;
    		color: #fff;

 			&:hover {
				color: #70b9d4;
				border-color: #70b9d4;
				background: transparent !important;
			}   		
    	}
    }
    .owl-buttons{
		margin: 0 auto;
		color: #fff;
		font-size: 28px;
		width: 120px;
		margin-top: 35px;

		.owl-prev{
			float: left;
		}
		.owl-next{
			float: right;
		}
		i{
			border-radius: 50%;
			border: 2px solid transparent;
			padding: 7px;
			transition: all 0.2s ease;

			&:hover{
				margin-top: -2px;
				border-color: #fff;
				transition: all 0.2s ease;
			}
		}

    }
}
section.actualites{
	padding: 70px 0 175px 0;

	h2{
		font-weight: 100;
		padding-bottom: 35px;

		span{
			font-weight: 900;
			text-transform: uppercase;
		}
	}
	.actu-big{
		padding: 0 30px 0 0;

			&:hover{
				.actu-box{
					transition: all 0.2s ease;
					background-color:@red1;
					margin-top: -5px;
				}
				.date{
					transition: all 0.2s ease;
					background-color: #fff !important;
					color: @red1 !important;
				}
				.texte{
					h4{
						transition: all 0.2s ease;
						color: #fff !important;
					}
					p{
						transition: all 0.2s ease;
						color: #fff !important;
					}
				}
			}

		.actu-box{
			float: left;
			background: #fff;
			border-radius: 5px;
			overflow: hidden;
			box-shadow: 0px 3px 5px rgba(38, 20, 62, 0.08);
			transition: all 0.4s ease;
			width: 100%;

			.photo{
				height: 215px;
				background-position: center !important;
				background-size: cover !important;
			}
			.shadow {
				height: 40px;
				width: 100%;
				box-shadow: inset 0px -20px 20px rgba(0, 0, 0, 0.6);
				float: left;
				z-index: 9999;
				margin-top: -40px;
			}  
			.infos{

				.date{
					padding: 8px 5px;
					background-color: @blue1;
					color: #fff;
					line-height: 18px;
					margin-top: -40px;
					margin-left: 10px;
					transition: all 0.4s ease;

					span:nth-child(1){
						width: 100%;
						float: left;
						text-align: center;
						font-size: 24px;
						font-weight: 900;
					}
					span:nth-child(2){
						width: 100%;
						float: left;
						text-align: center;
						font-size: 13px;
						font-weight: 100;
					}
				}
				.auteur{
					padding: 0 0 0 5px;
					font-size: 13px;
					width: auto;
					margin-top: -20px;
					color: #fff;

					span{
						font-weight: 700;
					}
				}
			}
			.texte{
				padding: 15px 25px;

				h4{
					font-size: 15px;
					line-height: 21px;
					color: @blue1;
					transition: all 0.4s ease;
				}
				p{
					color: @grey3;
					font-family: inherit;
					font-size: 13px;
					transition: all 0.4s ease;

				}
			}
		}
	}
	.actu-small{
		padding: 0;

		.actu-box{

			float: left;
			background: #fff;
			border-radius: 5px;
			overflow: hidden;
			box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
			transition: all 0.2s ease;
			margin-bottom: 30px;
			width: 100%;

			&:hover{
				transition: all 0.2s ease;
				background-color:@red1;
				margin-top: -5px;
				margin-bottom: 35px;

				.date{
					transition: all 0.2s ease;
					background-color: #fff !important;
					color: @red1 !important;
				}
				h4{
					transition: all 0.2s ease;
					color: #fff !important;
				}
			}

			.date{
				height: 80px;
				background-size: 95px !important;
				background-repeat: no-repeat !important;
				padding: 0 15px;
				background-color: #0b6ba8 !important;
				color: #fff;
				transition: all 0.2s ease;

				span:nth-child(1){
					width: 100%;
					float: left;
					text-align: center;
					font-size: 24px;
					font-weight: 900;
					padding-top: 22px;
					line-height: 18px;
				}
				span:nth-child(2){
					width: 100%;
					float: left;
					text-align: center;
					font-size: 13px;
					font-weight: 100;
				}
			}
			.contenu{
				padding: 0;
				
				h4{
					transition: all 0.2s ease;
					font-size: 13px;
					line-height: 17px;
					color: #0b6ba8;
					padding: 5px 10px;
					margin: 0;
					max-height: 80px;
					overflow: hidden;
					font-weight: 700;
				}
			}
		}
		button{
			background-color: @blue1;
			color: #fff;

			&:hover{
				background-color: @blue2 !important;
			}
		}
	}
}

section.domaine_energetique_intro{
	background-color: @red2;
	color: #fff;

	.container{
		background-color: @red1;
		padding: 35px 70px;

		h1{
			padding-left: 25px;
			font-weight: 100;
			text-transform: uppercase;
			font-size: 28px;
			padding-bottom: 25px;

			span{
				font-weight: 900;
			}
		}
		p{
			border-left: 2px solid #fff;
			padding-left: 25px;
			line-height: 25px;
			font-size: 19px;
		}
	}
}
section.domaine_energetique_infos{
	background-color: @grey2;

	.container{
		background-color: #fff;

		.description{
			padding: 35px 70px;

			h2,h3{
				text-transform: uppercase;
				font-weight: 100;
				padding-bottom: 25px;

			}
			p{
				color: @grey3;
				font-size: 17px;
				line-height: 30px;
			}
		}
		.partage{
			background-color: @grey1;
			color: #fff;
			padding: 15px;

			h3{
				margin: 0;
				font-weight: 600;
				text-transform: uppercase;
				font-size: 18px;

				i{
					padding-right: 15px;
				}
			}
		}
		.liste-fiches{
			background-color: #e7ecef;
			padding: 15px;

			h3{
				margin: 0;
				font-weight: 600;
				text-transform: uppercase;
				font-size: 18px;
				padding-bottom: 15px;


			}
			.mini-fiche{
				float: left;
				background: #fff;
				border-radius: 5px;
				overflow: hidden;
				box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
				padding: 15px;
				margin-bottom: 15px;
				text-transform: none;
				color: @grey1;
				transition: all 0.2s ease;
			    width: 100%;

				&:hover{
					text-decoration:none;
					background-color: @blue1;
					color: #fff;
					transition: all 0.2s ease;

					p, .auteur{
						color: #fff;
					}
				}

				h4{
					font-weight: 600;
					font-size: 14px;
					margin: 0 0 5px 0;
				}
				p{
					color: @grey3;
					font-family: "Open Sans", sans-serif;
					font-size: 14px;

				}
				.auteur{
					color: @grey3;
					font-family: "Open Sans", sans-serif;
					font-weight: 400;
					font-size: 12px;
					float: right;
					margin: 0;

					span{
						font-weight: 700;
					}
				}
			}
		}
		.weswap-current {
		  display:inline-block;
		  height:600px;
		  overflow:hidden;
		  overflow-y:scroll;
		  padding-right: 13px;
		}

		.weswap-current::-webkit-scrollbar {
		  width: 7px;
		}
		 
		.weswap-current::-webkit-scrollbar-thumb {
		  background-color:@grey3;

		}
	}
}
section.domaine_energetique_videos{
	background-color: #e7ecef;

	.container{
		background-color: #d6dee1;
		color: #fff;

		.filtre{
			background-color: @grey1;
			text-transform: uppercase;
			cursor: pointer;
			transition: all 0.2s ease;

			&:hover{
				transition: all 0.2s ease;
				background:@blue1;
			}

		}
		.title{
			background-color: @green1;
			text-transform: uppercase;
		}
		h3{
			font-weight: 100;
			font-size: 20px;
			margin: 20px 0;

			span{
				font-weight: 900;
			}
		}
		.video-list{
			padding: 20px 10px 140px 10px;

			.video_container{
				padding: 0 10px 20px 10px;
				width: 25%;
				float: left;
				

				.infos{
					transition: all 0.2s ease;
					color: @grey1;
					float: left;
					background: #fff;
					padding: 15px;
					box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
					border-radius: 5px;

					&:hover{
						transition: all 0.2s ease;
						background:@grey1;
						color: #fff;
					}

					h4{
						font-size: 14px;
						text-transform: uppercase;
					}
					p{
						font-size: 14px;
						line-height: 16px;
						font-family: "Open Sans", sans-serif;
					}
					.auteur{
						color: @grey3;
						font-size: 13px;
						padding-top: 10px;
					}
				}
			}
		}
	}
}

section.page_photo{
	height: 450px;

	.bg_flou{
		height: 450px;
		-webkit-filter: blur(10px) brightness(110%);
		-o-filter: blur(10px) brightness(110%);
		-moz-filter: blur(10px) brightness(110%);
		-ms-filter: blur(10px) brightness(110%);
		filter: blur(10px) brightness(110%);
		background-position: center center !important;
		overflow: hidden;
		opacity: .7;
		background-size: 100% !important;
		box-shadow: inset 0px -10px 0px #fff;
	}
	.bg_clear{
		height: 450px;
		position: relative;
		margin-top: -450px;
		padding: 0;
		background-position: center center !important;
		background-size: cover !important;

		h1{
			color: #fff;
			bottom: 0;
			position: absolute;
			width: 100%;
			background: linear-gradient(to top,rgba(0, 0, 0, 0.6),transparent);
			padding: 140px 35px 30px 35px;
			margin: 0;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 30px;
			
			span{
				width: 100%;
				float: left;
				text-transform: none;
				font-size: 14px;
				font-weight: 700;
				
				i{
					padding: 0 5px;
				}
			}
		}
	}
}

section.page_infos{

	.container{
		background-color: #fff;

		.description{
			padding: 35px 35px 140px 35px;

			h2,h3{
				text-transform: uppercase;
			}
			h2 b, h3 b{
				font-weight: 900;
			}
			h3{
				font-weight: 600;
			}
			p{
				color: @grey3;
				font-size: 17px;
				line-height: 30px;
				
				strong{
					color: @grey1;	
				}
			}
			img{
				margin: 0 15px;
				max-width: 100%;
			}
		}
		.partage{
			background-color: @red1;
			color: #fff;
			padding: 15px;

			h3{
				margin: 0;
				font-weight: 600;
				text-transform: uppercase;
				font-size: 18px;

				i{
					padding-right: 15px;
				}
			}
			.share-btn{
				border: 1px solid rgba(0, 0, 0, 0.58);
			}
		}
		.rss{
			background-color: #c1660c;
			color: #fff;
			padding: 15px;

			h3{
				margin: 0;
				font-weight: 600;
				text-transform: uppercase;
				font-size: 18px;

				i{
					padding-right: 15px;
				}
			}
			.rss-btn{
				height: 24px;
				padding: 2px 8px;
				line-height: 1.53;
				font-size: 12px;
				color: #fff;
				background: #e69b26;
				border: 1px solid #b16617;
				border-radius: 2px;
				text-decoration: none;
				transition: all 0.2s ease;
				margin-left: 5px;	
				
				&:hover{
					background-color:#e48525;
				}
				img{
					width: auto;
					padding-right: 5px;
					height: 11px;
				}			
			}
		}
		.liste-actus{
			background-color: #e7ecef;
			padding: 15px 15px 140px 15px;

			h3{
				margin: 0;
				font-weight: 600;
				text-transform: uppercase;
				font-size: 18px;
				padding-bottom: 15px;


			}
			.mini-actu{
				float: left;
				background: #fff;
				border-radius: 5px;
				overflow: hidden;
				box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
				padding: 15px;
				margin-bottom: 15px;
				text-transform: none;
				color: @grey1;
				transition: all 0.2s ease;
				width: 100%;

				&:hover{
					text-decoration:none;
					background-color: @blue1;
					color: #fff;
					transition: all 0.2s ease;

					p, .auteur{
						color: #fff;
					}
				}

				h4{
					font-weight: 600;
					font-size: 14px;
					margin: 0 0 5px 0;
				}
				p{
					color: @grey3;
					font-family: "Open Sans", sans-serif;
					font-size: 14px;

				}
				.auteur{
					color: @grey3;
					font-family: "Open Sans", sans-serif;
					font-weight: 400;
					font-size: 12px;
					float: right;
					margin: 0;

					span{
						font-weight: 700;
					}
				}
			}
			button{
				color: #fff;
				background-color: @grey1;

				&:hover{
					background-color: @blue1 !important;
				}
			}
		}
	}
}
footer{
	background: @grey1;
	color: #fff;
    padding: 75px 0 0 0;

    ul{
    	li{
    		span{
    			float: left;
    			width: 100%;
    			padding-bottom: 15px;
    			text-transform: uppercase;
    		}
    		a{
    			color: #fff;

    			&:hover{
    				color:@blue2;
    				text-decoration: none;
    			}
    		}
    	}
    }

    .app-dl{
    	background: @red1;
    	margin-top: -115px;

		.title-up{
			margin: -38px 0px 30px -17px;
			padding: 0;
			line-height: 33px;
			float: left;
			
			span:nth-child(1){
				color: @red1;
				text-transform: uppercase;
				font-size: 56px;
				float: left;
			}			
			span:nth-child(2){
				color: #FFF;
				text-transform: uppercase;
				font-size: 34px;
				float: left;
			}
		}
		.store{
			background: #000;
			padding: 5px;
			margin-left: 30px;
			float: left;
			border-radius: 5px;
			width: 178px;
			text-align: center;
			margin-top: 35px;
			margin-bottom: 15px;

		}
		p{
			font-family: "Open Sans", sans-serif;
			font-weight: 700;
			margin: 15px 0;
			text-transform: uppercase;
			font-size: 14px;
		}
    }
    .smartphone{
    	img{
			margin-right: -120px;
			float: right;
			margin-top: -120px;
    	}
    }
}
section.newslist{
	background-color: @grey2;
	padding: 0px 0 140px 0;
	.container{
		.page{
			h2{
				text-transform: uppercase;
				font-weight: 100;
				padding-bottom: 25px;
				padding-top: 35px;

				span{
					font-weight: 900;
				}	
			}
		}

		.actu-big{
			&:hover{
				.actu-box{
					transition: all 0.2s ease;
					background-color:@red1;
					margin-top: -5px;
					margin-bottom: 40px;
				}
				.date{
					transition: all 0.2s ease;
					background-color: #fff !important;
					color: @red1 !important;
				}
				.texte{
					h4{
						transition: all 0.2s ease;
						color: #fff !important;
					}
					p{
						transition: all 0.2s ease;
						color: #fff !important;
					}
					a{
						transition: all 0.2s ease;
						color: #fff !important;							
					}
				}
			}

			.actu-box{
				float: left;
				background: #fff;
				border-radius: 5px;
				overflow: hidden;
				box-shadow: 0px 3px 5px rgba(38, 20, 62, 0.08);
				transition: all 0.4s ease;
				margin-bottom: 35px;
				width: 100%;
				height: 400px;

				.news-bg{
					width: 100%;
					float: left;
					height: 200px;
					background-size: cover !important;
					background-position: center center !important;

				}
				.shadow {
					height: 40px;
					width: 100%;
					box-shadow: inset 0px -40px 25px -20px rgba(0,0,0,0.6);
					float: left;
					z-index: 9999;
					margin-top: -40px;
				}
				.photo{
					height: 250px;
					background-position: center !important;
					background-size: cover !important;
				}
				.infos{

					.date{
						padding: 8px 5px;
						background-color: @blue1;
						color: #fff;
						line-height: 18px;
						margin-top: -40px;
						margin-left: 10px;
						transition: all 0.4s ease;

						span:nth-child(1){
							width: 100%;
							float: left;
							text-align: center;
							font-size: 24px;
							font-weight: 900;
						}
						span:nth-child(2){
							width: 100%;
							float: left;
							text-align: center;
							font-size: 13px;
							font-weight: 100;
						}
					}
					.auteur{
						padding: 0 0 0 5px;
						font-size: 13px;
						width: auto;
						margin-top: -20px;
						color: #fff;

						span{
							font-weight: 700;
						}
					}
				}
				.texte{
					padding: 15px 25px;

					h4{
						font-size: 15px;
						line-height: 21px;
						color: @blue1;
						transition: all 0.4s ease;
					}
					p{
						color: @grey3;
						font-family: inherit;
						font-size: 13px;
						overflow: hidden;
						transition: all 0.4s ease;

					}
					a{
						text-decoration: none;
						color: @grey3;
						font-size: 13px;

						i{
							padding-right: 5px;
						}
					}
				}
			}
		}
	}
}
section.defaut{
	.page{
	    padding: 70px;
	    background: #fff;
	    box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
	    padding: 70px 70px 140px 70px;
		margin-top: 35px;
		border-top: 5px solid #cccccc;
	    
		h2, h1{
			text-transform: uppercase;
			margin: 15px 0 35px 0;
			font-weight:100;
		
			span{
				font-weight:900;
			}
		}
		#homeVisio{
			.icon-conseiller{
			    width: 30px;
			    height: 20px;
			    float: left;
			    margin-top: -8px;
			    margin-right: 13px;
			    fill: #fff;
			}
		}
		#calendar{
			button{
				background: #f8f9fb;
				cursor: pointer;
				margin: 5px 0 25px 0;
				box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
				border: 1px solid #ccc;
				font-weight: 200;
			}
			.fc-toolbar, .fc-view{
				float:left;
				
				.fc-center{
					h2{
						margin: 9px 16px;
						font-size: 20px;
						font-weight: 400;
					}
				}
				.fc-day-header{
					padding: 10px 0;
					font-weight: 700;
				}
			}
			.fc-view{
				background: #f8f9fb;
				margin: 5px 0 25px 0;
				box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
				cursor: default;
				border-top: 5px solid #0c6aa7;	
			}
			.fc-event {
			    position: absolute;
			    z-index: 1;
			    cursor: pointer;
			}
		}
		select{
			padding: 15px;
			background: #f8f9fb;
			cursor: pointer;
			margin: 5px 0 25px 0;
			border-top: 5px solid #0c6aa7;
			box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
			border-left: none;
			border-right: none;
			border-bottom: 1px solid #ccc;
			font-weight: 600;
			
		}
		p{
			color: #969a9c;
			font-family: raleway;
			font-size: 18px;
			line-height: 25.7143px;
			padding-bottom: 35px;
		}
	}
}

.dropdown-menu{
    padding: 12px 0;
    margin: 0;
    font-size: inherit;
    background-color: #fff;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 5px 35px rgba(48,27,68,0.5);
    box-shadow: 0 5px 35px rgba(48,27,68,0.5);
}
.btn{
	padding: 15px 30px;
	border-radius: 30px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 12px;
	margin-bottom: 35px;
	transition: all 0.5s ease 0s;
	border: solid 2px transparent;


	&:hover {
	    transition: all 0.2s ease;
		border: solid 2px #fff;
		color: #fff;
		background: rgba(29, 39, 35, 0.27) !important;
		padding-left: 38px;
		padding-right: 25px;
		text-decoration: none;
	}
}
.btn-default{
	background-color: #0b6ba8;
    color: #fff;
    background-image: none;
    text-shadow: 0 1px 0 #053b5d;
    
    &:hover{
    	background-color: #55a7dc !important;
    	text-shadow: 0 1px 0 #368abf;
    }
}
.ui-widget-content{
	background:@blue1;
	color:#fff;
	cursor: pointer;
	
	li{
		padding:5px;
		
		&:hover{
			background:@blue2;
		}
	}
}

.modal {
	h1, h2, h3{
		text-transform:uppercase;
	}
	p{
		font-family: "Open Sans", sans-serif;
	}
	#heureDispo{
	    padding: 15px;
	    background: #f8f9fb;
	    cursor: pointer;
	    margin: 5px 0 25px 0;
	    border-top: 5px solid #0c6aa7;
	    box-shadow: 0px 3px 5px rgba(38,20,62,0.08);
	    border-left: none;
	    border-right: none;
	    border-bottom: 1px solid #ccc;
	    font-weight: 600;
	}
}