body{
	background: #0c6ba8;
	margin: 0 auto;
}
.container{
	background: #fff;
	width: 750px;
	height: 272px;
	margin-top: -136px;
	top: 50%;
	position: absolute;
	left: 50%;
	margin-left: -375px;
	box-shadow: 0px 0px 100px 30px rgba(30, 24, 37, 0.39);
}
.bg-planet{
	position: absolute;
	background: url("../img/bg.jpg");
	width: 723px;
	height: 723px;
	top: 50%;
	margin-top: -361.5px;
	left: 50%;
	margin-left: -776px;
}
.form{
	background: url("../img/bg-form.jpg");
	width: 258px;
	height: 227px;
	float: left;
	text-align: center;
	padding-top: 45px;
}
.logo{
	text-align: center;
	margin-top: 95px;
}
.connect-btn{
	background: #FFF;
	color: #1e2724;
	font-weight: 700;
}
input{
	width: 200px;
	padding: 12px 8px;
	margin-bottom: 10px;
	border: 1px solid #fff;
	background: transparent;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
label{
	width: 100%;
	float: left;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
label input{
	width: auto;
}
label span{

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.alert{
    color: #da0a38;
    background: #ffbedf;
    padding: 10px 0;
    float: left;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}