/*

    --------- Couleurs ---------
    bleu 1 : #55a7dc
    bleu 2 : #0b6ba8
    gris 1 : #f7f9fa
    gris 2 : #e1e5e7
    gris 3 : #262c28
    gris 4 : #8a908c
    rouge 1 : #d31b32
    rouge 2 : #a10e20

*/
body{
    background: #f7f9fa;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5{
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 23px;
    margin: 35px 0 15px 0;
}
h3{
    font-size: 19px;    
}
h4{
    font-size: 18px;    
}
h5{
    font-size: 16px;    
}
.user{
    color: #fff;
}
.photo_mini img{
    border-radius: 50px;
    margin-top: 4px;
    margin-right: 15px;
    border: 2px solid #fff;
    padding: 2px;
}
.navbar{
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    background-color: #0b6ba8;
    color: #fff;
}

.boxed{
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(41, 92, 123, 0.1);
    border-radius: 5px;
    margin-bottom: 15px;
}
.margin-right-5{
    margin-right:5px;
}
.margin-right-10{
    margin-right:10px;
}
.margin-right-15{
    margin-right:15px;
}
/* DATEPICKER */
.input-append .add-on, .input-prepend .add-on {
    padding: 4px 7px;
    cursor: pointer;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

.icon-chevron-up {
    background-position: -288px -120px;
}
.icon-chevron-down {
    background-position: -313px -119px;
}
.input-group-sm .form-control-feedback{
    width: 60px;
    height: 30px;
    line-height: 30px;
    opacity: .4;
}
.timepicker .btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbb;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}



/* Checkboxes */

.checkbox {
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 0px;
  padding-right: 5px;
}
.checkbox:after, .checkbox:before {
  font-family: FontAwesome;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  -webkit-font-language-override: normal;
          font-language-override: normal;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}
.checkbox label {
  width: 90px;
  height: 25px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.checkbox label:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  left: 3px;
  top: -5px;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
  margin-left: 0 !important;
  margin:0 !important;
}
.checkbox input:hover + label:after {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}
.checkbox input:checked + label:after {
  left: 40px;
}

.checkbox label {
  width: 40px;
}
.checkbox label:after {
  top: 3px;
  width: 19px;
  height: 19px;
}
.checkbox input:checked + label {
  background: #55a7dc;
}
.checkbox input:checked + label:after {
  left: 18px;
}
.checkbox span {margin-top: 3px;float: right;padding-left: 5px;}

/* FIN Checkboxes */


#geoSearch {
  background:#000;
  width:100%;
  height: 350px;
  margin: 0 auto;
}
.ui-autocomplete{
  background: #FBFBFB;
  max-width: 600px;
}
.ui-autocomplete li{
    padding: 5px 8px;
    width: 100%;
    list-style: none;
    overflow: hidden;
}
.ui-autocomplete li:hover{
  background: #f5f5f5;
}
.ui-helper-hidden-accessible{
  display: none;
}


/* CSS FOR DATATABLE JS */
.dataTables_filter {
    display: none;
}
.dataTables_length{
    float:left!important;
}

/* CSS FOR AUTOCOMPLE GOOGLE MAP */
.ui-autocomplete { position: absolute; cursor: default;z-index:30 !important;}


/** SLIDER DRAG AND DROP ADMIN**/
.slide{
    border-radius: 2px;
    padding: 3px;
    background: #e1e5e7;
    color: #333;
    border: 3px dotted #b9c3c7;
    cursor: all-scroll;
}
.slide img{
    padding: 0;
}
.slide h4{
    font-weight: 900;
    text-transform: uppercase;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.all-slides{
    list-style-type: none;
}

ol.all-slides li.placeholder {
    position: relative;
}
ol.all-slides li.placeholder:before {
    position: absolute;
}
.ui-sortable-helper{
    box-shadow: 0px 0px 10px 0px rgba(41, 92, 123, 0.3);
}

/*****  MARGES ***/
.mt10{
    margin-top: 15px;
}

.nav-vertical li a{
    padding: 12px 5px;
    font-family: 'Roboto', sans-serif;
    color: #435966;
    line-height: 1.5em;
}

.nav-vertical li a:hover{
    background: inherit;
    color: #55a7dc;
    transition: color 0.2s ease;
}
.nav-vertical li a:hover i{
    color: #55a7dc;
}

.nav-vertical li .fa-pull-right{
    margin-left: 5px;
    margin-right: 0px;
    color: #e1e5e7;
}

.menu-title{
    color: #e1e5e7;
    padding: 35px 5px 15px 5px;
}

.nav-vertical{
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(41, 92, 123, 0.1);
    overflow: hidden;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.nav-vertical .fa{
    margin-right: 15px;
    line-height: 1.5em;
}

.nav-vertical li a:focus {
    background-color: inherit;
    transition: color 0.2s ease;
    color: #55a7dc;
}
.fa-chevron-right{
    transition: all 0.2s ease;
}
.nav-vertical li a .chevron-down{
    transform: rotate(90deg) !important;
    
}

.nav-vertical li ul li {
    padding-left: 30px;
}

.nav-vertical li ul li ul li {
    padding-left: 15px;
}

input{
    border-radius: 2px !important;
    padding: 9px !important;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #e1e5e7 !important;
    box-shadow: none !important;
    background-color: #f7f9fa !important;
    height: 32px !important;
}
input:focus{
    border: 1px solid #b2d2e6 !important;
    box-shadow: 0px 0px 8px -2px #60c0ff !important;
}
input[type="checkbox"] {
    height: auto !important;
}
.checkbox input[type="checkbox"] {
    height: 35px !important;
}
select{
    border-radius: 2px !important;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #e1e5e7 !important;
    box-shadow: none !important;
    background-color: #f7f9fa !important;
    height: 32px !important;    
}
.input-auto-width{
    min-width: 0!important;
    width: auto!important;
    display: inline!important;
}
.btn{
    padding: 6px 14px;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.2s ease;
    border: none;
    width: auto;
}
.btn-primary {
    color: #fff;
    background-color: #55a7dc;
}
.btn-primary:hover {
    background-color: #0b6ba8;
}
.btn-default{
    border: 1px solid #e1e5e7;
}
.delSlider{
    width:100%;
}
.nav-horizontal .navbar-nav>.open>a, .nav-horizontal .navbar-nav>.open>a:focus, .nav-horizontal .navbar-nav>.open>a:hover{
    background-color: #262c28;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #e1e5e7;
    color: #262c28;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.dataTables_length select{
    margin: 0 5px;
}
.etatPublish{
    display: none;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
    border-top: 1px solid #e1e5e7;
}
tbody{
    font-size: 14px;
}
tbody input{
    margin: 0 !important;
}
table>tbody>tr>td>ul>li{
    list-style: none;
    float: left;
    font-size: 12px;
    background-color: #e1e5e7;
    margin-right: 5px;
    padding: 3px 8px;
    border-radius: 20px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #0b6ba8;
    border-color: #0b6ba8;
}
.pagination{
    margin-top: 10px !important;
}
.alert{
    margin-top: 15px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px rgba(41, 92, 123, 0.1);
}
.modal-body input[type="search"]{
    margin-bottom: 15px;
}
input[type="file"]{
    height: auto !important;
}
textarea{
    border-radius: 2px !important;
    box-shadow: none !important;
    border: 1px solid #e1e5e7 !important;
    background-color: #f7f9fa !important;
}
label{
    font-weight: 400;
}
.btn .caret {
    margin-left: 5px;
}

.bootstrap-datetimepicker-widget {
    width: auto;
    padding: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.bootstrap-datetimepicker-widget td span {
    height: 30px;
    line-height: 30px;
    margin: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.timepicker .btn {
    padding: 4px 18px;
    color: #262c28;
    text-shadow: none;
    background-color: #e1e5e7;
    background-image: none !important;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.timepicker .btn:hover {
    background-color: #55a7dc;
}
.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover {
    background-color: #55a7dc !important;
    background-image: none;
    border-radius: 2px;
}


/****** THOMAS CSS ******/

.fc-start {
    cursor: pointer;
}

.has-error .form-control {
    border-color: #a94442!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
}
.top-75{
    margin-top: 75px;
}
